{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}
<!-- <a href="check-eligibility-single" class="govuk-back-link">Edit eligibility details</a> -->
<div class="govuk-width-container">

<main class="govuk-main-wrapper">
<div class="key-details-bar">
<h1 class="key-details-ni">

  <span class="key-details-claimant-ni">QQ423881A</span>
  <div class="key-details-tag" style="float: right;">NOTIFY CLAIMANT</div>
  <p class="govuk-body govuk-!-margin-bottom-1"></p>
</h1>

<hr class="key-details-line">
<p class="govuk-body govuk-!-margin-bottom-3"></p>

<div class="sdp-uc-link-wrapper">
  <a class="sdp-uc-link" href="https://sdp-prototype-ucfs.herokuapp.com/" target="_blank" style="color: white;">View claimant in Universal Credit (link opens in new tab)</a>

  <span class="sdp-case-owner-text">Assigned to: You</span>

</div>
<!-- <div class="key-details-working-on" style="float: right;"><strong>Working on this case:</strong> You</div> -->
</div>


<p class="govuk-body govuk-!-margin-bottom-4"></p>

<main role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="check-eligibility"  class="active">Next case action</a>
          </li>
          <li>
            <a href="case-history.html">Case history</a>
          </li>
          <li>
            <a href="edit-claimant">Edit claimant</a>
          </li>
          <li>
            <a href="payment-page">Record payment</a>
          </li>
          <!-- <li>
            <a href="find-claimant-payment">Payment history</a>
          </li> -->
        </ul>
      </nav>
    </div>
  </div>
</main>
<p class="govuk-body govuk-!-margin-bottom-4"></p>

  <h2 class="govuk-heading-l">Transfer SDP claimant to UCFS</h2>

  <h3 class="govuk-heading-m">1. Call claimant</h3>

<p class="govuk-body govuk-!-margin-bottom-4"></p>

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-fieldset__heading">
        2. Create claimant letter to upload to UCFS
      </h3>
    </legend>

    <div class="govuk-form-group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Full name
        </h1>
      </legend>
      <span id="passport-issued-hint" class="govuk-hint">
        For example Jimmy Hinson
      </span>
      <input class="govuk-input" id="full-name" name="full-name" type="text">
    </div>



    <div class="govuk-form-group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h1 class="govuk-fieldset__heading">
          Address and postcode
        </h1>
      </legend>
      <span id="passport-issued-hint" class="govuk-hint">
        Example<br>
        Address line 1<br>
        Address line 2<br>
        Town or City<br>
        County<br>
        Postcode
      </span>

      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>

  </fieldset>

  <ul class="govuk-list">
    <li>
      <a class="govuk-link" href="qq423881a-letter-preview" target="_blank">Preview letter</a>
    </li>
  </ul>
  <p class="govuk-body">The letter will save to your computer.</p>
  <a href="../public/images/letter-example.png" download role="button" class="govuk-button govuk-button--secondary govuk-button--small">
  Download letter</a>

  <p class="govuk-body">Upload the letter to the claimant journal in UCFS, then copy and paste the following message into their journal:</p>

<div class="app-tabs__container js-tabs__container app-tabs__container--with-close-button" id="example-default-html" role="tabpanel" aria-hidden="false">
  <button id="copyButton" onclick="copyGeneratedContent()" class="app-copy-button js-copy-button" aria-live="assertive">Copy</button>
  <textarea id="genText" rows="4" cols="70" style="resize:none;" class="textarea">

    A letter has been added to your account. You need to read this as soon as possible.

  </textarea>
</div>
<br>
<h3 class="govuk-heading-m">3. Download SDP case history</h3>

<p class="govuk-body">The file will save to your computer.<br>
You will need to upload it to the ‘Transfer an SDP claimant to UCFS’ to-do in UCFS</p>
<a href="" download role="button" class="govuk-button govuk-button--secondary govuk-button--small">Download claim history</a>

<div class="panel" id="contact-details">
  <h3 class="govuk-heading-m">4. Claimant payment rate:</h3>
  <p>You will need to make a note of this for completing the to-do in UCFS</p>
  <p class="govuk-body">£120.00</p>
</div>

<h3 class="govuk-heading-m">5. Create agent to-do</h3>
<p>You need to open UCFS and complete the ‘Transfer an SDP claimant to UCFS’ to-do.<br>Then return to this page and select 'Done'
<div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
          <label class="govuk-label govuk-checkboxes__label" for="waste">
        Confirm you’ve completed the to-do in UCFS
      </label>
        </div>
  </div>
<p class="govuk-body govuk-!-margin-bottom-4"></p>
  <a href="confirmation-page.html" class="govuk-button" data-module="govuk-button">
    Done
</a>


  </div>

  <style>
    .app-tabs__container{
      position: relative;
      margin-top: -2px;
      border: 1px solid #bfc1c3;
      background-color: #F8F8F8;
  }
  .app-copy-button {
      font-family: "nta",Arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 14px;
      font-size: .875rem;
      line-height: 1.14286;
      position: absolute;
      z-index: 1;
      top: 15px;
      right: 15px;
      min-width: 80px;
      padding: 4px 10px 0;
      border: 1px solid #00823b;
      color: #00823b;
      background-color: #fff;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
  }
  .textarea {
      font-family: "nta", Arial, sans-serif;
      font-weight: 40;
      text-transform: none;
      font-size: 17px;
      line-height: 1.2;
      margin-bottom: 0;
      color: #0B0C0C;
      text-align: left;
      border: none;
      background-color: #F8F8F8;
      width: 80%;
  }
  </style>
  <script>
  function copyGeneratedContent() {
    var copyText = document.getElementById("genText");
    var copyBtn = document.getElementById("copyButton");
    copyText.select();
    document.execCommand("copy");
    copyBtn.textContent = "Copied!";
  }
  </script>

  {% endblock %}
