{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<div class="gov-uk-wrapper">
  <main id="content" role="main" class="">

    <div class="grid-row">
      <div class="column-two-thirds">

      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">

        <div class="sdp-claimant-details-large">
          <div class="sdp-claimant-details-upper-wrapper">
            <div class="sdp-claimant-details-top-left">
              <p class="sdp-claimant-details-nino heading-large">SA108866C</p>
            </div>
            <div class="sdp-task-type-wrapper sdp-claimant-details-top-right">
              <span class="sdp-details-task-type">CHECK ELIGIBILITY</span>
            </div>
          </div>
          <hr class="sdp-details-rule">
          <div class="sdp-uc-link-wrapper">
            <a class="sdp-uc-link" href="https://agent-training04.ucd.gpn.gov.uk/agent/claimant-actions/b868a0bb-a29a-45a7-a980-c334a86837d6" target="_blank">View claimant in Universal Credit (link opens in new tab)</a>

            <span class="sdp-case-owner-text">Assigned to: You</span>

          </div>
        </div>


        <main role="main">
          <div class="grid-row">
            <div class="column-full">

              <nav class="navigation-secondary">
                <ul>
                  <li>
                    <a href="check-eligibility" aria-current="section">Next case action</a>
                  </li>
                  <li>
                    <a href="case-history.html">Case history</a>
                  </li>
                  <li>
                    <a href="edit-claimant">Edit claimant</a>
                  </li>
                  <li>
                    <a href="payment-page">Record payment</a>
                  </li>
                  <!-- <li>
                    <a href="find-claimant-payment">Payment history</a>
                  </li> -->
                </ul>
              </nav>
            </div>
          </div>
        </main>

        <div class="govuk-width-container">
          <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                  <h1 class="govuk-panel__title">
                    Claimant is now ineligible
                  </h1>
                </div>
                <div class="govuk-inset-text">
                  Should you do notifications prompt?</a>
                </div>
                <h2 class="govuk-heading-m">What do you want to do now?</h2>
                <p class="govuk-body">
                  <a href="edit-claimant">Check claimant details</a>
                </p>
                <p class="govuk-body">
                  <a href="">Dashboard</a>
                </p>

              </div>
            </div>
          </main>
        </div>

      </div>

    </div>



  </main>
</div>

{% endblock %}
