{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<div class="gov-uk-wrapper">
  <main id="content" role="main" class="">

    <div class="grid-row">
      <div class="column-two-thirds">

      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">

        <div class="sdp-claimant-details-large">
          <div class="sdp-claimant-details-upper-wrapper">
            <div class="sdp-claimant-details-top-left">
              <p class="sdp-claimant-details-nino heading-large">SA108866C</p>
            </div>
            <div class="sdp-task-type-wrapper sdp-claimant-details-top-right">
              <span class="sdp-details-task-type">CHECK ELIGIBILITY</span>
            </div>
          </div>
          <hr class="sdp-details-rule">
          <div class="sdp-uc-link-wrapper">
            <a class="sdp-uc-link" href="https://agent-training04.ucd.gpn.gov.uk/agent/claimant-actions/b868a0bb-a29a-45a7-a980-c334a86837d6" target="_blank">View claimant in Universal Credit (link opens in new tab)</a>

            <span class="sdp-case-owner-text">Assigned to: You</span>

          </div>
        </div>

        <main role="main">
          <div class="grid-row">
            <div class="column-full">

              <nav class="navigation-secondary">
                <ul>
                  <li>
                    <a href="check-eligibility" aria-current="section">Next case action</a>
                  </li>
                  <li>
                    <a href="case-history.html" class="active">Case history</a>
                  </li>
                  <li>
                    <a href="edit-claimant">Edit claimant</a>
                  </li>
                  <li>
                    <a href="payment-page">Record payment</a>
                  </li>
                  <!-- <li>
                    <a href="find-claimant-payment">Payment history</a>
                  </li> -->
                </ul>
              </nav>
            </div>
          </div>
        </main>

        <div class="sdp-case-history-wrapper">

          <h1 class="heading-large">Case history</h1>

          <div class="sdp-case-history-item">

            <h3 class="heading-medium sdp-case-history-heading">Claimant data verification</h3>


            <p class="sdp-case-history-date">1 October 2019</p>

            <table class="sdp-case-history-table">
              <tbody>

                <tr>
                  <th class="sdp-case-history-table-heading">Claimant data is eligible to continue</th>
                  <td class="sdp-case-history-table">Yes</td>
                </tr>

              </tbody>
            </table>
          </div>

          <div class="sdp-case-history-item">

            <h3 class="heading-medium sdp-case-history-heading">Automated initial checks when regulations came in</h3>

            <p class="sdp-case-history-date">13 September 2019</p>

            <table class="sdp-case-history-table">
              <tbody>

                <tr>
                  <th class="sdp-case-history-table-heading">Claimant has carer who gets carer element</th>
                  <td class="sdp-case-history-table">No</td>
                </tr>

                <tr>
                  <th class="sdp-case-history-table-heading">Claimant has carer who gets carer allowance</th>
                  <td class="sdp-case-history-table">No</td>
                </tr>

                <tr>
                  <th class="sdp-case-history-table-heading">PIP (daily living - standard or enhanced)</th>
                  <td class="sdp-case-history-table">No</td>
                </tr>

                <tr>
                  <th class="sdp-case-history-table-heading">AFIP</th>
                  <td class="sdp-case-history-table">Yes</td>
                </tr>

                <tr>
                  <th class="sdp-case-history-table-heading">DLA (care component - middle or higher)</th>
                  <td class="sdp-case-history-table">No</td>
                </tr>

                <tr>
                  <th class="sdp-case-history-table-heading">AA or CAA paid with IIDB or WP</th>
                  <td class="sdp-case-history-table">No</td>
                </tr>

                <tr>
                  <th class="sdp-case-history-table-heading">Claimant has breaks in UC claim</th>
                  <td class="sdp-case-history-table">No</td>
                </tr>

                <tr>
                  <th class="sdp-case-history-table-heading">UC couple status</th>
                  <td class="sdp-case-history-table">Single</td>
                </tr>

                <tr>
                  <th class="sdp-case-history-table-heading">UC couple status at time of natural migration to UC</th>
                  <td class="sdp-case-history-table">Single</td>
                </tr>

              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>

  </main>
</div>

{% endblock %}
