{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <!-- <a href="index.html" class="govuk-back-link">Back</a> -->

    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <div class="gov-uk-wrapper">
          <h1 class="heading-large reduced-margin-heading">Check eligibility task list</h1>

          <div class="pagination-wrapper">
              <span class="current-page">1</span>
          </div>

          <table class="list-view-table">
            <thead>
              <tr>
                <th>Claimant ID</th>
                <th>NINO</th>
                <th>AP End Day</th>
                <th></th>
              </tr>
            </thead>
            <tbody>

              <tr class="list-view-table-row criteria-not-met">
                <td><a id="b868a0bb-a29a-45a7-a980-c334a86837d6" class="list-view-link" href="check-eligibility.html">b868a0bb-a29a-45a7-a980-c334a86837d6</a></td>
                <td><a id="SA108866C" class="list-view-link" href="/sdp-agent/task/5d7bc2f7c9e77c01760529c3">SA108866C</a></td>
                <td>27</td>
                <td></td>
              </tr>

              <tr class="list-view-table-row criteria-not-met">
                <td><a id="e6b7b5e2-d962-4997-8dce-e81f8b29c94b" class="list-view-link" href="/sdp-agent/task/5d7bc2f7c9e77c0176052a8d">e6b7b5e2-d962-4997-8dce-e81f8b29c94b</a></td>
                <td><a id="SA109068D" class="list-view-link" href="/sdp-agent/task/5d7bc2f7c9e77c0176052a8d">SA109068D</a></td>
                <td>27</td>
                <td></td>
              </tr>

              <tr class="list-view-table-row criteria-not-met">
                <td><a id="d8765de1-6804-4bbc-b701-9c330183a8b2" class="list-view-link" href="/sdp-agent/task/5d7bc2f7c9e77c0176052d38">d8765de1-6804-4bbc-b701-9c330183a8b2</a></td>
                <td><a id="SA109751B" class="list-view-link" href="/sdp-agent/task/5d7bc2f7c9e77c0176052d38">SA109751B</a></td>
                <td>27</td>
                <td></td>
              </tr>
              <tr class="list-view-table-row criteria-not-met">
                <td><a id="1485c994-f26a-4fd7-8bfa-e6842e2c2055" class="list-view-link" href="/sdp-agent/task/5d7bc2fac9e77c0176053086">1485c994-f26a-4fd7-8bfa-e6842e2c2055</a></td>
                <td><a id="SB100597B" class="list-view-link" href="/sdp-agent/task/5d7bc2fac9e77c0176053086">SB100597B</a></td>
                <td>27</td>
                <td></td>
              </tr>
              <tr class="list-view-table-row criteria-not-met">
                <td><a id="d1c1bcb1-8efe-49f1-8f4a-a4413b1d873f" class="list-view-link" href="/sdp-agent/task/5d7bc2fcc9e77c01760536fd">d1c1bcb1-8efe-49f1-8f4a-a4413b1d873f</a></td>

                <td><a id="SB102252B" class="list-view-link" href="/sdp-agent/task/5d7bc2fcc9e77c01760536fd">SB102252B</a></td>
                <td>27</td>
                <td></td>
              </tr>

              <tr class="list-view-table-row criteria-not-met">
                <td><a id="04f05e4c-928a-4aa2-8386-b3f4d10cac68" class="list-view-link" href="/sdp-agent/task/5d7bc2fec9e77c01760541f9">04f05e4c-928a-4aa2-8386-b3f4d10cac68</a></td>
                <td><a id="SB105064B" class="list-view-link" href="/sdp-agent/task/5d7bc2fec9e77c01760541f9">SB105064B</a></td>

                <td>27</td>
                <td></td>


              </tr>

            </tbody>
          </table>
          <div class="pagination-wrapper">
              <span class="current-page">1</span>
          </div>

        </div>

      </div>

    </main>


</div>

{% endblock %}
