{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<div class="gov-uk-wrapper">
  <main id="content" role="main" class="">

    <div class="grid-row">
      <div class="column-two-thirds">

      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">

        <div class="sdp-claimant-details-large">
          <div class="sdp-claimant-details-upper-wrapper">
            <div class="sdp-claimant-details-top-left">
              <p class="sdp-claimant-details-nino heading-large">SA108866C</p>
            </div>
            <div class="sdp-task-type-wrapper sdp-claimant-details-top-right">
              <span class="sdp-details-task-type">CHECK ELIGIBILITY</span>
            </div>
          </div>
          <hr class="sdp-details-rule">
          <div class="sdp-uc-link-wrapper">
            <a class="sdp-uc-link" href="https://agent-training04.ucd.gpn.gov.uk/agent/claimant-actions/b868a0bb-a29a-45a7-a980-c334a86837d6" target="_blank">View claimant in Universal Credit (link opens in new tab)</a>

            <span class="sdp-case-owner-text">Assigned to: You</span>

          </div>
        </div>

        <main role="main">
          <div class="grid-row">
            <div class="column-full">

              <nav class="navigation-secondary">
                <ul>
                  <li>
                    <a href="check-eligibility" aria-current="section">Next case action</a>
                  </li>
                  <li>
                    <a href="case-history.html" class="active">Case history</a>
                  </li>
                  <li>
                    <a href="edit-claimant">Edit claimant</a>
                  </li>
                  <li>
                    <a href="payment-page">Record payment</a>
                  </li>
                  <!-- <li>
                    <a href="find-claimant-payment">Payment history</a>
                  </li> -->
                </ul>
              </nav>
            </div>
          </div>
        </main>

        <div class="sdp-case-history-wrapper">

          <h1 class="heading-large">Case history</h1>

          <div class="sdp-case-history-item">

            <div class="govuk-form-group">
              <label class="govuk-label" for="sort">
              Sort by
              </label>
              <select class="govuk-select" id="sort" name="sort">
                <option value="published">Recently published</option>
                <option value="updated" selected>Recently updated</option>
                <option value="views">Most views</option>
                <option value="comments">Most comments</option>
              </select>
            </div>

            <hr>

            <p class="sdp-case-history-date" style="font-weight: normal; float: left;">29 Oct 2019<br>at 12:16pm</p>

            <p><strong class="govuk-tag" style="font-size: 20px; float: left; margin-left: 60px; margin-top: 6px;">
              Claimant notified
            </strong></p>

            <table class="sdp-case-history-table">
              <tbody>

                <tr>
                  <th class="sdp-case-history-table-heading">Claimant notified</th>
                  <td class="sdp-case-history-table">No letter issued</td><br>
                </tr>

              </tbody>
            </table>
          </div>

          <hr>

          <p class="sdp-case-history-date" style="font-weight: normal; float: left;">29 Oct 2019<br>at 12:16pm</p>

          <p><strong class="govuk-tag" style="font-size: 20px; float: left; margin-left: 60px; margin-top: 6px;">
            Eligibility Checked
          </strong></p>

          <table class="sdp-case-history-table">
            <tbody>

              <tr>
                <th class="sdp-case-history-table-heading">Getting Universal Credit payments</th>
                <td class="sdp-case-history-table">Yes</td>
              </tr>
              <tr>
                <th class="sdp-case-history-table-heading">Couple status changed</th>
                <td class="sdp-case-history-table">No</td>
              </tr>
              <tr>
                <th class="sdp-case-history-table-heading">In the 'No work related requirements' work group</th>
                <td class="sdp-case-history-table">Yes</td>
              </tr>

            </tbody>
          </table>

        <hr>

        <p class="sdp-case-history-date" style="font-weight: normal; float: left;">29 Oct 2019<br>at 12:16pm</p>

        <p><strong class="govuk-tag" style="font-size: 20px; float: left; margin-left: 60px; margin-top: 6px;">
          Claimant notified
        </strong></p>

        <table class="sdp-case-history-table">
          <tbody>

            <tr>
              <th class="sdp-case-history-table-heading">Claimant notified</th>
              <td class="sdp-case-history-table">UCSDP06 letter generated</td>
            </tr>

          </tbody>
        </table>

      <hr>

      <p class="sdp-case-history-date" style="font-weight: normal; float: left;">29 Oct 2019<br>at 12:16pm</p>

      <p><strong class="govuk-tag" style="font-size: 20px; float: left; margin-left: 60px; margin-top: 6px;">
        Payment authorised
      </strong></p>

      <table class="sdp-case-history-table">
        <tbody>

          <tr>
            <th class="sdp-case-history-table-heading">CPS reference number</th>
            <td class="sdp-case-history-table">iuehrfkjl12y8924rb</td>
          </tr>

        </tbody>
      </table>

    <hr>

    <p class="sdp-case-history-date" style="font-weight: normal; float: left;">29 Oct 2019<br>at 12:16pm</p>

    <p><strong class="govuk-tag" style="font-size: 20px; float: left; margin-left: 60px; margin-top: 6px;">
      Payment raised
    </strong></p>

    <table class="sdp-case-history-table">
      <tbody>

        <tr>
          <th class="sdp-case-history-table-heading">Monthly SDP rate</th>
          <td class="sdp-case-history-table">£120</td>
        </tr>
        <tr>
          <th class="sdp-case-history-table-heading">First Universal Credit claim date</th>
          <td class="sdp-case-history-table">21 July 2018</td>
        </tr>
        <tr>
          <th class="sdp-case-history-table-heading">Last AP ended</th>
          <td class="sdp-case-history-table">20 September 2019</td>
        </tr>
        <tr>
          <th class="sdp-case-history-table-heading">Full APs since first Universal Credit claim</th>
          <td class="sdp-case-history-table">14</td>
        </tr>
        <tr>
          <th class="sdp-case-history-table-heading">Single payment amount</th>
          <td class="sdp-case-history-table">£1680</td>
        </tr>

      </tbody>
    </table>

    <hr>

    <p class="sdp-case-history-date" style="font-weight: normal; float: left;">29 Oct 2019<br>at 12:16pm</p>

    <p><strong class="govuk-tag" style="font-size: 20px; float: left; margin-left: 60px; margin-top: 6px;">
      Automated initial checks when regulations came in
    </strong></p>

    <table class="sdp-case-history-table">
      <tbody>

        <tr>
          <th class="sdp-case-history-table-heading">Claimant has carer who gets carer element</th>
          <td class="sdp-case-history-table">Not determined</td>
        </tr>
        <tr>
          <th class="sdp-case-history-table-heading">Claimant has carer who gets carer allowance</th>
          <td class="sdp-case-history-table">No</td>
        </tr>
        <tr>
          <th class="sdp-case-history-table-heading">PIP (daily living - standard or enhanced)</th>
          <td class="sdp-case-history-table">No</td>
        </tr>
        <tr>
          <th class="sdp-case-history-table-heading">AFIP</th>
          <td class="sdp-case-history-table">Yes</td>
        </tr>
        <tr>
          <th class="sdp-case-history-table-heading">DLA (care component - middle or higher)</th>
          <td class="sdp-case-history-table">No</td>
        </tr>
        <tr>
          <th class="sdp-case-history-table-heading">AA or CAA paid with IIDB or WP</th>
          <td class="sdp-case-history-table">No</td>
        </tr>
        <tr>
          <th class="sdp-case-history-table-heading">Claimant has breaks in UC claim</th>
          <td class="sdp-case-history-table">No</td>
        </tr>
        <tr>
          <th class="sdp-case-history-table-heading">UC couple status</th>
          <td class="sdp-case-history-table">Single</td>
        </tr>
        <tr>
          <th class="sdp-case-history-table-heading">UC couple status at time of natural migration to UC</th>
          <td class="sdp-case-history-table">Single</td>
        </tr>

      </tbody>
    </table>

  </div>



        </div>

      </div>

    </div>

  </main>
</div>

<style>
  table th, table td { border: 0; }
</style>

{% endblock %}
