{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">
<div class="case-header">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    <a href="https://agent-training03.ucd.gpn.gov.uk/agent/claimant-actions/d6ad9130-7d8e-4094-a16f-1ca3745baa70/contract/56ead4de-5cf6-47b5-8d08-67ee6cd2dc61" target="_blank" class="claimantID">QQ423881A</a>
  </h1>
<strong class="govuk-tag">check eligibility - reconsideration</strong>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  <hr>


  <h2 class="govuk-heading-l">Check eligibility for single payment again</h2>
  <p class="govuk-body">You need to check the claimant's eligibility again.</p>

<hr>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading">
          Is the claimant getting paid Universal Credit?
        </h3>
      </legend>
      <span id="changed-name-hint" class="govuk-hint">
        You'll find this on the 'Statement' in Universal Credit.
      </span>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-name-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

<hr>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading">
          Has the claimant's relationship status ever changed in Universal Credit?
        </h3>
      </legend>
      <span id="changed-name-hint" class="govuk-hint">
        The previous status for QQ423881A was 'single'. You'll see if this has changed in 'Claim disclosure' in Universal Credit'. </span>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-name-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>

<hr>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading">
          Which Universal Credit work group is the claimant in?
        </h3>
      </legend>
      <span id="changed-name-hint" class="govuk-hint">
        You'll find this in 'Work group' in Universal Credit.
      </span>
      <div class="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
            Intensive work search
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
            Light touch - in work
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
            Light touch - out of work
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
            Work preparation
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
            Work focused interview
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
            Working enough - no work related requirements
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
            No work related requirements
          </label>
        </div>
      </div>
    </fieldset>
  </div>


  <a href="../reconsiderations/raise-payment-single-reconsideration"><button type="submit" class="govuk-button">
    Save and continue</button></a>


<p class="govuk-body govuk-!-margin-top-8"></p>


        </div>

        <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-top-6"></p>
            <div class="app-related-items">
  <h2 class="govuk-heading-s">
    Actions
  </h2>
  <ul class="govuk-list govuk-body-s">
      <li><a href="check-eligibility-single-history" class="govuk-link">Task history</a></li>
      </ul>

  <p class="govuk-body govuk-!-margin-top-6"></p>

  </div>
</div>

</ul>


        </div>

      </div>

    </main>
  </div>



{% endblock %}
