{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">
<div class="case-header">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    QQ423881A
  </h1>
  <p class="govuk-body"><a href="https://agent-training03.ucd.gpn.gov.uk/agent/claimant-actions/d6ad9130-7d8e-4094-a16f-1ca3745baa70/contract/56ead4de-5cf6-47b5-8d08-67ee6cd2dc61" target="_blank">View claimant in Universal Credit</a></p>

<strong class="govuk-tag">check carer element - reconsideration</strong>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  <hr>


  <h2 class="govuk-heading-l">Check again for Carer Element</h2>
  <p class="govuk-body">You must contact QQ423881A again and ask if they currently have a carer who gets the Carer Element of Universal Credit.</p>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading">
          Did you speak to the claimant again?
        </h3>
      </legend>
      <span id="changed-name-hint" class="govuk-hint">
      </span>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-name-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>


  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h3 class="govuk-fieldset__heading">
          Do they currently have a carer who gets the Carer Element of Universal Credit?
        </h3>
      </legend>
      <span id="changed-name-hint" class="govuk-hint">
      </span>
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="changed-name-1">
            Yes
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="changed-name-2">
            No
          </label>
        </div>
      </div>
    </fieldset>
  </div>


  <a href="../reconsiderations/check-eligibility-single-reconsideration"><button type="submit" class="govuk-button">
    Save and continue
  </button></a>
















<p class="govuk-body govuk-!-margin-top-8"></p>


        </div>

        <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-top-6"></p>
            <div class="app-related-items">
  <h2 class="govuk-heading-s">
    Actions
  </h2>
  <ul class="govuk-list govuk-body-s">
    <li><a href="check-carer-history" class="govuk-link">Task history</a></li>
      </ul>

  <p class="govuk-body govuk-!-margin-top-6"></p>

  </div>
</div>

</ul>


        </div>

      </div>

    </main>
  </div>



{% endblock %}
