{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">
<div class="case-header">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    <a href="https://agent-training03.ucd.gpn.gov.uk/agent/claimant-actions/d6ad9130-7d8e-4094-a16f-1ca3745baa70/contract/56ead4de-5cf6-47b5-8d08-67ee6cd2dc61" target="_blank" class="claimantID">QQ423881A</a>
  </h1>
<strong class="govuk-tag">raise payment - reconsideration</strong>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  <hr>

<h3 class="govuk-heading-l">We did not pay the correct single payment</h3>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">



<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Previous single payment amount</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">First UC claim date</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Months since first UC claim date</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Correct monthly SDP rate</th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">Correct single payment amount</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">£2,160</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">1 August 2016</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">27</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£280</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">£7,560</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <h3 class="govuk-heading-m govuk-!-margin-top-2">Raise another single payment of £5,400 in CPS</h3>

    <p class="govuk-body">You'll need to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>create an 'agent to-do' in Universal Credit</li>
      <li>choose 'Make an extra frequency payment'</li>
      <li>set the to-do date</li>
      <li>choose 'Display payment information'</li>
      <li>check the bank details against the bank details in CPS</li>
      <li>update the details in CPS so they are the same, if required</li>
      <li>cancel the agent to-do</li>
    </ul>

    <p class="govuk-body">You'll need to then follow the usual process for raising and authorising a payment in CPS.</p>

    <a href="../ideas/agent-dashboard"><button type="submit" class="govuk-button">
      I've requested a payment
    </button></a>

  </main>
</div>
</div>




















<p class="govuk-body govuk-!-margin-top-8"></p>


        </div>

        <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-top-6"></p>
            <div class="app-related-items">
  <h2 class="govuk-heading-s">
    Actions
  </h2>
  <ul class="govuk-list govuk-body-s">
      <li><a href="" class="govuk-link"><a href="https://agent-training03.ucd.gpn.gov.uk/agent/claimant-actions/d6ad9130-7d8e-4094-a16f-1ca3745baa70/contract/56ead4de-5cf6-47b5-8d08-67ee6cd2dc61">View QQ423881A in Universal Credit</a></li>
      <li><a href="raise-payment-single-history" class="govuk-link">Task history</a></li>
      </ul>

  <p class="govuk-body govuk-!-margin-top-6"></p>

  </div>
</div>

</ul>


        </div>

      </div>

    </main>
  </div>



{% endblock %}
