{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">

<main class="govuk-main-wrapper">
<div class="key-details-bar">
<h1 class="key-details-ni">

  <span class="key-details-claimant-ni">QQ423881A</span>
  <div class="key-details-tag" style="float: right;">NOTIFY CLAIMANT - SINGLE</div>
  <p class="govuk-body govuk-!-margin-bottom-1"></p>
</h1>

<hr class="key-details-line">
<p class="govuk-body govuk-!-margin-bottom-3"></p>

<div class="key-details-link"><a href="https://agent-training03.ucd.gpn.gov.uk/agent/claimant-actions/d6ad9130-7d8e-4094-a16f-1ca3745baa70/contract/56ead4de-5cf6-47b5-8d08-67ee6cd2dc61"
  target="_blank">View claimant in Universal Credit</a>
</div>
<!-- <div class="key-details-working-on" style="float: right;"><strong>Working on this case:</strong> You</div> -->
</div>


<p class="govuk-body govuk-!-margin-bottom-4"></p>

<main role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="" class="active" aria-current="section">Next case action</a>
          </li>
          <li>
            <a href="notify-claimant-single-history">Case history</a>
          </li>
          <li>
            <a href="payment-history">Payment history</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>

<div class="sdp-task-wrapper">


            <form class="" action="/generatePdf" method="post">

<h1 class="heading-large">Tell the claimant about a single payment</h1>

    <p>You need to create a letter to notify the claimant we've paid them a single amount of SDP, and upload it to their journal.</p>


<h2 class="heading-medium">What are the claimant's contact details in Universal Credit?</h2>


<div class="form-group-related">
    <label class="form-label-bold" for="fullName">Full name

            <span class="form-hint">
                Example: Mr Jimmy Hinson
            </span>


        <input id="fullName" class="form-control form-control-1-2 block-input" type="text" name="fullName" value="">
    </label>
</div>



<div class="">
    <label class="form-label form-label-bold" for="fullAddress">Address and postcode


        <span class="form-hint">
            Example:<br>
Address line1<br>
Address line2<br>
Town or City<br>
County<br>
Postcode
        </span>

    <textarea class="sdp-textarea " name="fullAddress" id="fullAddress" rows="8" cols="60"></textarea>
    </label>
</div>


    <a class="letter-preview-request" href="#">Preview letter</a>
    <br>

<h2 class="heading-medium">What to do now</h2>


    <button id="submit" name="submit" class="button sdp-secondary-button" type="submit">Download the letter PDF.</button>


<p>The letter will be saved in your 'downloads' folder.</p>


<p>Then copy and paste this text to the claimant's journal and upload the letter.</p>


    <div class="sdp-copy-text-wrapper">
        <button class="sdp-click-to-copy-button" type="button" name="button" data-copytext="toCopy">COPY</button>
        <p id="toCopy">A single additional payment of £3600 was made on 22 August 2019</p>
    </div>


<p>You should notify the claimant when you send them the journal message.</p>


<input id="today" type="hidden" name="today" value="22 August 2019">


<input id="lastApEndDate" type="hidden" name="lastApEndDate" value="21 August 2019">


<input id="dateOfUcClaim" type="hidden" name="dateOfUcClaim" value="22 February 2017">


<input id="monthlyRateInPounds" type="hidden" name="monthlyRateInPounds" value="120">


<input id="elapsedAps" type="hidden" name="elapsedAps" value="30">


<input id="sdpPaymentAmount" type="hidden" name="sdpPaymentAmount" value="3,600">


<input id="letter" type="hidden" name="letter" value="UCSDP06">


<input id="_id" type="hidden" name="_id" value="5d5aa7b9d601800169009277">



<input id="_csrf" type="hidden" name="_csrf" value="4qzteHr7-aiP_7xQnZRnQnKPBl-zQrqeRre8">

</form>

<form class="" action="/sdp-agent/task/5d5aa7b9d601800169009277" method="post">

<input id="_csrf" type="hidden" name="_csrf" value="4qzteHr7-aiP_7xQnZRnQnKPBl-zQrqeRre8">


<input id="_id" type="hidden" name="_id" value="5d5aa7b9d601800169009277">


<input id="taskType" type="hidden" name="taskType" value="notifyClaimant">


    <button id="submit" name="submit" class="button " type="submit">I've notified the claimant</button>

</form>



</div>

    </div>



        </main>
      </div>



<script>
function copyGeneratedContent() {
  var copyText = document.getElementById("genText");
  var copyBtn = document.getElementById("copyButton");
  copyText.select();
  document.execCommand("copy");
  copyBtn.textContent = "Copied!";
}
</script>

{% endblock %}
