{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}


<div class="govuk-width-container">

<main class="govuk-main-wrapper">
<div class="key-details-bar">
<h1 class="key-details-ni">
  <!-- <span class="key-details-claimant-details">Claimant details</span><br> -->
  <span class="key-details-claimant-ni">QQ423881A</span>
  <div class="key-details-tag" style="float: right;">NOTIFY CLAIMANT - MONTHLY</div>
  <p class="govuk-body govuk-!-margin-bottom-1"></p>
</h1>

<hr class="key-details-line">
<p class="govuk-body govuk-!-margin-bottom-3"></p>

<div class="key-details-link"><a href="https://agent-training03.ucd.gpn.gov.uk/agent/claimant-actions/d6ad9130-7d8e-4094-a16f-1ca3745baa70/contract/56ead4de-5cf6-47b5-8d08-67ee6cd2dc61"
  target="_blank">View claimant in Universal Credit</a>
</div>
<div class="key-details-working-on" style="float: right;"><strong>Working on this case:</strong> You</div>

</div>
<!-- <br>
<span class="circle teal"></span><strong>Working on this case:</strong> You<br><br> -->

<p class="govuk-body govuk-!-margin-bottom-4"></p>


<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <nav class="navigation-secondary">
        <ul>
          <li>
            <a href="" class="active" aria-current="section">Next case action</a>
          </li>
          <li>
            <a href="find-claimant-history">Case history</a>
          </li>
          <li>
            <a href="find-claimant-payment">Payment history</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>


      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

          <p class="govuk-body govuk-!-margin-bottom-8"></p>

          <h2 class="govuk-heading-xl">Tell the claimant about a monthly payment</h2>
          <p class="govuk-body">You need to tell the claimant that we've paid them a monthly SDP amount.</p>


          <!-- <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
                What are the claimant's contact details in Universal Credit?
              </h3>
            </legend>

            <div class="govuk-form-group">
              <label class="govuk-label" for="full-name">
                Full name
              </label>
              <input class="govuk-input" id="full-name" name="full-name" type="text">
            </div>



            <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Address and postcode
    </label>

    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
  </div>







          </fieldset>

          <ul class="govuk-list">
            <li>
              <a class="govuk-link" href="qq423881a-letter-preview" target="_blank">Preview letter</a>
            </li>
          </ul> -->

          <h3 class="govuk-heading-m">What to do now</h3>
          <!-- <p class="govuk-body"><a href="../public/images/letter-example.png" download>Download the letter PDF.</p></a> -->
          <!-- <p class="govuk-body">The letter will be saved in your 'downloads' folder.</p> -->
          <p class="govuk-body">Copy and paste this text to the claimant's journal.</p>

          <div class="app-tabs__container js-tabs__container app-tabs__container--with-close-button" id="example-default-html" role="tabpanel" aria-hidden="false">
            <button id="copyButton" onclick="copyGeneratedContent()" class="app-copy-button js-copy-button" aria-live="assertive">Copy</button>
            <textarea id="genText" rows="4" cols="70" style="resize:none;" class="textarea">


          An extra Universal Credit payment of £80 was made on 3 oct 2018
            </textarea>
          </pre>
        </div>

        <p class="govuk-body govuk-!-margin-top-4">
          You should notify the claimant when you send them the journal message.</p>


          <a href="../dashboards/agent-ongoing-dashboard"><button type="submit" class="govuk-button">
            I've notified the claimant
          </button></a>

        </div>


        </div>

      </ul>


    </div>

  </div>

</main>
</div>

<script>
function copyGeneratedContent() {
  var copyText = document.getElementById("genText");
  var copyBtn = document.getElementById("copyButton");
  copyText.select();
  document.execCommand("copy");
  copyBtn.textContent = "Copied!";
}
</script>

{% endblock %}
