{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}


<div class="govuk-width-container">
<main class="govuk-main-wrapper">
<div class="case-header">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    Your cases
  </h1>
<strong class="govuk-tag">authorise payments - single</strong>

<br><br>

  <table class="govuk-table" border="0">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Claimant ID</th>
        <th class="govuk-table__header govuk-table__header" scope="col">NINO</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">d6ad91-7d8e-4094-a16f-1ca3745baa123</a></td>
        <td class="govuk-table__cell govuk-table__cell">QA423881Q</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">d6ad9215-7d8e-4094-a16f-1ca3745baa65</a></td>
        <td class="govuk-table__cell govuk-table__cell">QQ423881A</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">b6ad9130-7d8e-4094-a16f-1ca3745baa42</a></td>
        <td class="govuk-table__cell govuk-table__cell">MQ423881Z</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">z6ad9130-7d8e-4094-a16f-1ca3745baa13</a></td>
        <td class="govuk-table__cell govuk-table__cell">QV423881Z</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">d6ad9345-7d8e-4094-a16f-1ca3745baa24</a></td>
        <td class="govuk-table__cell govuk-table__cell">QX423881M</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">d6ad9189-7d8e-4094-a16f-1ca3745baa57</a></td>
        <td class="govuk-table__cell govuk-table__cell">LQ423881D</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">d6ad9167-7d8e-4094-a16f-1ca3745baa11</a></td>
        <td class="govuk-table__cell govuk-table__cell">MQ423881P</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">d6ad9130-7d8e-4094-a16f-1ca3745baa67</a></td>
        <td class="govuk-table__cell govuk-table__cell">QP423881M</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">d6ad9156-7d8e-4094-a16f-1ca3745baa37</a></td>
        <td class="govuk-table__cell govuk-table__cell">QZ423881X</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">d6ad9131-7d8e-4094-a16f-1ca3745baa89</a></td>
        <td class="govuk-table__cell govuk-table__cell">ZQ423881A</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">d6ad9190-7d8e-4094-a16f-1ca3745baa65</a></td>
        <td class="govuk-table__cell govuk-table__cell">WQ423881X</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">d6ad9123-7d8e-4094-a16f-1ca3745baa17</a></td>
        <td class="govuk-table__cell govuk-table__cell">EQ423881Q</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">d6ad9130-7d8e-4094-a16f-1ca3745baa55</a></td>
        <td class="govuk-table__cell govuk-table__cell">QP423881A</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/authorise-payment-single">d6ad91-7d8e-4094-a16f-1ca3745baa70</a></td>
        <td class="govuk-table__cell govuk-table__cell">QL423881B</td>
      </tr>




    </tbody>
  </table>

    </main>
  </div>



{% endblock %}
