{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main>
<div class="case-header">
  <h1 class="heading-large reduced-margin-heading">Check carer element task list</h1>
  <hr>

  <table class="govuk-table" border="0">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Claimant ID</th>
        <th class="govuk-table__header govuk-table__header" scope="col">NINO</th>
        <th class="govuk-table__header govuk-table__header" scope="col">AP End Day</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell" style="position: relative;"><a href="../QQ423881A/check-carer-element">d6ad91-7d8e-4094-a16f-1ca3745baa123<button class="sdp-click-to-copy-button" type="button" name="button" data-copytext="toCopy">COPY</button></a></td>
        <td class="govuk-table__cell govuk-table__cell">QA423881Q</td>
        <td class="govuk-table__cell govuk-table__cell">4</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell" style="position: relative;"><a href="../QQ423881A/check-carer-element">d6ad9130-7d8e-4094-a16f-1ca3745baa70<button class="sdp-click-to-copy-button" type="button" name="button" data-copytext="toCopy">COPY</button></a></td>
        <td class="govuk-table__cell govuk-table__cell">QQ423881A</td>
        <td class="govuk-table__cell govuk-table__cell">4</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell" style="position: relative;"><a href="../QQ423881A/check-carer-element">b6ad9130-7d8e-4094-a16f-1ca3745baa42<button class="sdp-click-to-copy-button" type="button" name="button" data-copytext="toCopy">COPY</button></a></td>
        <td class="govuk-table__cell govuk-table__cell">MQ423881Z</td>
        <td class="govuk-table__cell govuk-table__cell">4</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell" style="position: relative;"><a href="../QQ423881A/check-carer-element">z6ad9130-7d8e-4094-a16f-1ca3745baa13<button class="sdp-click-to-copy-button" type="button" name="button" data-copytext="toCopy">COPY</button></a></td>
        <td class="govuk-table__cell govuk-table__cell">QV423881Z</td>
        <td class="govuk-table__cell govuk-table__cell">4</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell" style="position: relative;"><a href="../QQ423881A/check-carer-element">d6ad9345-7d8e-4094-a16f-1ca3745baa24<button class="sdp-click-to-copy-button" type="button" name="button" data-copytext="toCopy">COPY</button></a></td>
        <td class="govuk-table__cell govuk-table__cell">QX423881M</td>
        <td class="govuk-table__cell govuk-table__cell">4</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell" style="position: relative;"><a href="../QQ423881A/check-carer-element">d6ad9189-7d8e-4094-a16f-1ca3745baa57<button class="sdp-click-to-copy-button" type="button" name="button" data-copytext="toCopy">COPY</button></a></td>
        <td class="govuk-table__cell govuk-table__cell">LQ423881D</td>
        <td class="govuk-table__cell govuk-table__cell">4</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell" style="position: relative;"><a href="../QQ423881A/check-carer-element">d6ad9167-7d8e-4094-a16f-1ca3745baa11<button class="sdp-click-to-copy-button" type="button" name="button" data-copytext="toCopy">COPY</button></a></td>
        <td class="govuk-table__cell govuk-table__cell">MQ423881P</td>
        <td class="govuk-table__cell govuk-table__cell">4</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell" style="position: relative;"><a href="../QQ423881A/check-carer-element">d6ad9130-7d8e-4094-a16f-1ca3745baa67<button class="sdp-click-to-copy-button" type="button" name="button" data-copytext="toCopy">COPY</button></a></td>
        <td class="govuk-table__cell govuk-table__cell">QP423881M</td>
        <td class="govuk-table__cell govuk-table__cell">4</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell" style="position: relative;"><a href="../QQ423881A/check-carer-element">d6ad9156-7d8e-4094-a16f-1ca3745baa37<button class="sdp-click-to-copy-button" type="button" name="button" data-copytext="toCopy">COPY</button></a></td>
        <td class="govuk-table__cell govuk-table__cell">QZ423881X</td>
        <td class="govuk-table__cell govuk-table__cell">4</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell" style="position: relative;"><a href="../QQ423881A/check-carer-element">d6ad9131-7d8e-4094-a16f-1ca3745baa89<button class="sdp-click-to-copy-button" type="button" name="button" data-copytext="toCopy">COPY</button></a></td>
        <td class="govuk-table__cell govuk-table__cell">ZQ423881A</td>
        <td class="govuk-table__cell govuk-table__cell">4</td>
      </tr>

    </tbody>
  </table>

    </main>
  </div>



{% endblock %}
