
{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<br>
<!--
<div class="govuk-grid-row">
        <h2 class="govuk-heading-l">Sprint 31</h2>
      <a href="sprint29/edit-claimant.html" role="button" draggable="false" class="govuk-button govuk-button--start">
        Case History
      </a>
</div>

<hr>
-->
<div class="govuk-grid-row">
        <h2 class="govuk-heading-l">19th August User Research Session</h2>
        <p> (amends from previous session)</p>
      <a href="19august2020/nextcase-transferclaimant.html" role="button" draggable="false" class="govuk-button govuk-button--start">
        Transfer SDP claimant to UCFS
      </a>
</div>
<hr>
<div class="govuk-grid-row">
        <h2 class="govuk-heading-l">August User Research Session</h2>
      <a href="august20/nextcase-transferclaimant.html" role="button" draggable="false" class="govuk-button govuk-button--start">
        Transfer SDP claimant to UCFS
      </a>
</div>

<hr>


      <div class="govuk-grid-row">
              <h2 class="govuk-heading-l">Sprint 30</h2>
            <a href="sprint29/edit-claimant.html" role="button" draggable="false" class="govuk-button govuk-button--start">
              Enter (edit claimant elig)
            </a>
            <br><br>
            <a href="sprint29/edit-claimant-inelig.html" role="button" draggable="false" class="govuk-button govuk-button--start">
              Enter (edit claimant inelig)
            </a>
            <br><br>
            <a href="sprint29/success-page-default" role="button" draggable="false" class="govuk-button govuk-button--start">
              Success page
            </a>
      </div>

<hr>

<div class="govuk-grid-row">
        <h2 class="govuk-heading-l">Single payments</h2>
      <a href="dashboards/agent-dashboard" role="button" draggable="false" class="govuk-button govuk-button--start">
        Agents
      </a>
</div>
<div class="govuk-grid-row">
      <a href="../task-lists/authorise-payment-task-list" role="button" draggable="false" class="govuk-button govuk-button--start">
        Team Leaders
      </a>
</div>
<div class="govuk-grid-row">
      <a href="../dashboards/allocator-dashboard" role="button" draggable="false" class="govuk-button govuk-button--start">
        Allocators
      </a>
</div>



    </div>
</div>
<hr>
<div class="govuk-grid-row">
        <h2 class="govuk-heading-l">Monthly payment</h2>
      <a href="dashboards/agent-ongoing-dashboard" role="button" draggable="false" class="govuk-button govuk-button--start">
        Agents
      </a>
</div>
<div class="govuk-grid-row">
      <a href="../QQ423881A-ongoing/authorise-payment-task-list" role="button" draggable="false" class="govuk-button govuk-button--start">
        Team Leaders
      </a>
</div>

      <p class="secondary-text govuk-!-margin-top-9">Built using <a href="https://github.com/alphagov/govuk_prototype_kit">GOV.UK prototype kit</a> {{releaseVersion}}</p>


    </div>
</div>


{% endblock %}
